force-app/main/default/flows/BotGetPreChatContext.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Get field values from Chat Transcript object and set them for the bot.</description>
    <interviewLabel>Bot - Get Pre-Chat Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot - Get Pre-Chat Context</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>735</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DoctolibAccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Doctolib_Account_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PersonAccount_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetChat_ranscript</name>
        <label>Get Chat Transcript</label>
        <locationX>545</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>Doctolib_Account_Id</assignToReference>
            <field>DoctolibAccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_Address</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Link_Usurp</assignToReference>
            <field>FarmingURLForLoginAs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>First_Name</assignToReference>
            <field>Firstname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Last_Name</assignToReference>
            <field>Lastname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Phone_Number</assignToReference>
            <field>Phone__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>31</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>GetChat_ranscript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Doctolib_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Link_Usurp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccount_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Phone_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
